#include <windows.h>
#include "resource.h"

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDR_WAVE_0 WAVE "res/00-zero.wav"
IDR_WAVE_1 WAVE "res/01-ichi.wav"
IDR_WAVE_2 WAVE "res/02-ni.wav"
IDR_WAVE_3 WAVE "res/03-san.wav"
IDR_WAVE_4 WAVE "res/04-yon.wav"
IDR_WAVE_5 WAVE "res/05-go.wav"
IDR_WAVE_6 WAVE "res/06-roku.wav"
IDR_WAVE_7 WAVE "res/07-nana.wav"
IDR_WAVE_8 WAVE "res/08-hachi.wav"
IDR_WAVE_9 WAVE "res/09-kyuu.wav"
IDR_WAVE_10 WAVE "res/10-juu.wav"
IDR_WAVE_11 WAVE "res/11-juuichi.wav"
IDR_WAVE_12 WAVE "res/12-juuni.wav"
IDR_WAVE_13 WAVE "res/13-juusan.wav"
IDR_WAVE_14 WAVE "res/14-juuyon.wav"
IDR_WAVE_15 WAVE "res/15-juugo.wav"
IDR_WAVE_16 WAVE "res/16-juuroku.wav"
IDR_WAVE_17 WAVE "res/17-juunana.wav"
IDR_WAVE_18 WAVE "res/18-juuhachi.wav"
IDR_WAVE_19 WAVE "res/19-juukyuu.wav"
IDR_WAVE_20 WAVE "res/20-nijuu.wav"
IDR_WAVE_30 WAVE "res/30-sanjuu.wav"
IDR_WAVE_40 WAVE "res/40-yonjuu.wav"
IDR_WAVE_50 WAVE "res/50-gojuu.wav"
IDR_WAVE_60 WAVE "res/60-rokujuu.wav"
IDR_WAVE_70 WAVE "res/70-nanajuu.wav"
IDR_WAVE_80 WAVE "res/80-hachijuu.wav"
IDR_WAVE_90 WAVE "res/90-kyuujuu.wav"
IDR_WAVE_100 WAVE "res/100-hyaku.wav"
IDR_WAVE_200 WAVE "res/200-nihyaku.wav"
IDR_WAVE_300 WAVE "res/300-sanbyaku.wav"
IDR_WAVE_400 WAVE "res/400-yonhyaku.wav"
IDR_WAVE_500 WAVE "res/500-gohyaku.wav"
IDR_WAVE_600 WAVE "res/600-roppyaku.wav"
IDR_WAVE_700 WAVE "res/700-nanahyaku.wav"
IDR_WAVE_800 WAVE "res/800-happyaku.wav"
IDR_WAVE_900 WAVE "res/900-kyuuhyaku.wav"
IDR_WAVE_SEN WAVE "res/1000-issen.wav"
IDR_WAVE_SEN_1 WAVE "res/1000-sen.wav"
IDR_WAVE_SEN_2 WAVE "res/2000-nisen.wav"
IDR_WAVE_SEN_3 WAVE "res/3000-sanzen.wav"
IDR_WAVE_SEN_4 WAVE "res/4000-yonsen.wav"
IDR_WAVE_SEN_5 WAVE "res/5000-gosen.wav"
IDR_WAVE_SEN_6 WAVE "res/6000-rokusen.wav"
IDR_WAVE_SEN_7 WAVE "res/7000-nanasen.wav"
IDR_WAVE_SEN_8 WAVE "res/8000-hassen.wav"
IDR_WAVE_SEN_9 WAVE "res/9000-kyuusen.wav"
IDR_WAVE_MAN WAVE "res/10000-man.wav"
IDR_WAVE_MAN_1 WAVE "res/10000-ichiman.wav"
IDR_WAVE_MAN_2 WAVE "res/20000-niman.wav"
IDR_WAVE_MAN_3 WAVE "res/30000-sanman.wav"
IDR_WAVE_MAN_4 WAVE "res/40000-yonman.wav"
IDR_WAVE_MAN_5 WAVE "res/50000-goman.wav"
IDR_WAVE_MAN_6 WAVE "res/60000-rokuman.wav"
IDR_WAVE_MAN_7 WAVE "res/70000-nanaman.wav"
IDR_WAVE_MAN_8 WAVE "res/80000-hachiman.wav"
IDR_WAVE_MAN_9 WAVE "res/90000-kyuuman.wav"
IDR_WAVE_OKU WAVE "res/100000000-oku.wav"
IDR_WAVE_OKU_1 WAVE "res/100000000-ichioku.wav"
IDR_WAVE_OKU_2 WAVE "res/200000000-nioku.wav"
IDR_WAVE_OKU_3 WAVE "res/300000000-sanoku.wav"
IDR_WAVE_OKU_4 WAVE "res/400000000-yonnoku.wav"
IDR_WAVE_OKU_5 WAVE "res/500000000-gooku.wav"
IDR_WAVE_OKU_6 WAVE "res/600000000-rokuoku.wav"
IDR_WAVE_OKU_7 WAVE "res/700000000-nanaoku.wav"
IDR_WAVE_OKU_8 WAVE "res/800000000-hachioku.wav"
IDR_WAVE_OKU_9 WAVE "res/900000000-kyuuoku.wav"
IDR_WAVE_CHOU WAVE "res/10_12-chou.wav"
IDR_WAVE_CHOU_1 WAVE "res/10_12_1-icchou.wav"
IDR_WAVE_CHOU_2 WAVE "res/10_12_2-nichou.wav"
IDR_WAVE_CHOU_3 WAVE "res/10_12_3-sanchou.wav"
IDR_WAVE_CHOU_4 WAVE "res/10_12_4-yonchou.wav"
IDR_WAVE_CHOU_5 WAVE "res/10_12_5-gochou.wav"
IDR_WAVE_CHOU_6 WAVE "res/10_12_6-rokuchou.wav"
IDR_WAVE_CHOU_7 WAVE "res/10_12_7-nanachou.wav"
IDR_WAVE_CHOU_8 WAVE "res/10_12_8-hacchou.wav"
IDR_WAVE_CHOU_9 WAVE "res/10_12_9-kyuuchou.wav"
IDR_WAVE_KEI WAVE "res/10_16-kei.wav"
IDR_WAVE_KEI_1 WAVE "res/10_16_1-ikkei.wav"
IDR_WAVE_KEI_2 WAVE "res/10_16_2-nikei.wav"
IDR_WAVE_KEI_3 WAVE "res/10_16_3-sankei.wav"
IDR_WAVE_KEI_4 WAVE "res/10_16_4-yonkei.wav"
IDR_WAVE_KEI_5 WAVE "res/10_16_5-gokei.wav"
IDR_WAVE_KEI_6 WAVE "res/10_16_6-rokkei.wav"
IDR_WAVE_KEI_7 WAVE "res/10_16_7-nanakei.wav"
IDR_WAVE_KEI_8 WAVE "res/10_16_8-hakkei.wav"
IDR_WAVE_KEI_9 WAVE "res/10_16_9-kyuukei.wav"
IDR_WAVE_MINUS WAVE "res/minus.wav"

STRINGTABLE
{
    IDS_INVALID, "無効な値です。"

    IDS_HIRAGANA_0, "ぜろ"
    IDS_HIRAGANA_1, "いち"
    IDS_HIRAGANA_2, "に"
    IDS_HIRAGANA_3, "さん"
    IDS_HIRAGANA_4, "よん"
    IDS_HIRAGANA_5, "ご"
    IDS_HIRAGANA_6, "ろく"
    IDS_HIRAGANA_7, "なな"
    IDS_HIRAGANA_8, "はち"
    IDS_HIRAGANA_9, "きゅう"
    IDS_HIRAGANA_10, "じゅう"
    IDS_HIRAGANA_11, "じゅういち"
    IDS_HIRAGANA_12, "じゅうに"
    IDS_HIRAGANA_13, "じゅうさん"
    IDS_HIRAGANA_14, "じゅうよん"
    IDS_HIRAGANA_15, "じゅうご"
    IDS_HIRAGANA_16, "じゅうろく"
    IDS_HIRAGANA_17, "じゅうなな"
    IDS_HIRAGANA_18, "じゅうはち"
    IDS_HIRAGANA_19, "じゅうきゅう"
    IDS_HIRAGANA_20, "にじゅう"
    IDS_HIRAGANA_30, "さんじゅう"
    IDS_HIRAGANA_40, "よんじゅう"
    IDS_HIRAGANA_50, "ごじゅう"
    IDS_HIRAGANA_60, "ろくじゅう"
    IDS_HIRAGANA_70, "ななじゅう"
    IDS_HIRAGANA_80, "はちじゅう"
    IDS_HIRAGANA_90, "きゅうじゅう"
    IDS_HIRAGANA_100, "ひゃく"
    IDS_HIRAGANA_200, "にひゃく"
    IDS_HIRAGANA_300, "さんびゃく"
    IDS_HIRAGANA_400, "よんひゃく"
    IDS_HIRAGANA_500, "ごひゃく"
    IDS_HIRAGANA_600, "ろっぴゃく"
    IDS_HIRAGANA_700, "ななひゃく"
    IDS_HIRAGANA_800, "はっぴゃく"
    IDS_HIRAGANA_900, "きゅうひゃく"
    IDS_HIRAGANA_SEN, "いっせん"
    IDS_HIRAGANA_SEN_1, "せん"
    IDS_HIRAGANA_SEN_2, "にせん"
    IDS_HIRAGANA_SEN_3, "さんぜん"
    IDS_HIRAGANA_SEN_4, "よんせん"
    IDS_HIRAGANA_SEN_5, "ごせん"
    IDS_HIRAGANA_SEN_6, "ろくせん"
    IDS_HIRAGANA_SEN_7, "ななせん"
    IDS_HIRAGANA_SEN_8, "はっせん"
    IDS_HIRAGANA_SEN_9, "きゅうせん"
    IDS_HIRAGANA_MAN, "まん"
    IDS_HIRAGANA_MAN_1, "いちまん"
    IDS_HIRAGANA_MAN_2, "にまん"
    IDS_HIRAGANA_MAN_3, "さんまん"
    IDS_HIRAGANA_MAN_4, "よんまん"
    IDS_HIRAGANA_MAN_5, "ごまん"
    IDS_HIRAGANA_MAN_6, "ろくまん"
    IDS_HIRAGANA_MAN_7, "ななまん"
    IDS_HIRAGANA_MAN_8, "はちまん"
    IDS_HIRAGANA_MAN_9, "きゅうまん"
    IDS_HIRAGANA_OKU, "おく"
    IDS_HIRAGANA_OKU_1, "いちおく"
    IDS_HIRAGANA_OKU_2, "におく"
    IDS_HIRAGANA_OKU_3, "さんおく"
    IDS_HIRAGANA_OKU_4, "よんおく"
    IDS_HIRAGANA_OKU_5, "ごおく"
    IDS_HIRAGANA_OKU_6, "ろくおく"
    IDS_HIRAGANA_OKU_7, "ななおく"
    IDS_HIRAGANA_OKU_8, "はちおく"
    IDS_HIRAGANA_OKU_9, "きゅうおく"
    IDS_HIRAGANA_CHOU, "ちょう"
    IDS_HIRAGANA_CHOU_1, "いっちょう"
    IDS_HIRAGANA_CHOU_2, "にちょう"
    IDS_HIRAGANA_CHOU_3, "さんちょう"
    IDS_HIRAGANA_CHOU_4, "よんちょう"
    IDS_HIRAGANA_CHOU_5, "ごちょう"
    IDS_HIRAGANA_CHOU_6, "ろくちょう"
    IDS_HIRAGANA_CHOU_7, "ななちょう"
    IDS_HIRAGANA_CHOU_8, "はっちょう"
    IDS_HIRAGANA_CHOU_9, "きゅうちょう"
    IDS_HIRAGANA_KEI, "けい"
    IDS_HIRAGANA_KEI_1, "いっけい"
    IDS_HIRAGANA_KEI_2, "にけい"
    IDS_HIRAGANA_KEI_3, "さんけい"
    IDS_HIRAGANA_KEI_4, "よんけい"
    IDS_HIRAGANA_KEI_5, "ごけい"
    IDS_HIRAGANA_KEI_6, "ろっけい"
    IDS_HIRAGANA_KEI_7, "ななけい"
    IDS_HIRAGANA_KEI_8, "はちけい"
    IDS_HIRAGANA_KEI_9, "きゅうけい"
    IDS_HIRAGANA_MINUS, "まいなす"

    IDS_KATAKANA_0, "ゼロ"
    IDS_KATAKANA_1, "イチ"
    IDS_KATAKANA_2, "ニ"
    IDS_KATAKANA_3, "サン"
    IDS_KATAKANA_4, "ヨン"
    IDS_KATAKANA_5, "ゴ"
    IDS_KATAKANA_6, "ロク"
    IDS_KATAKANA_7, "ナナ"
    IDS_KATAKANA_8, "ハチ"
    IDS_KATAKANA_9, "キュウ"
    IDS_KATAKANA_10, "ジュウ"
    IDS_KATAKANA_11, "ジュウイチ"
    IDS_KATAKANA_12, "ジュウニ"
    IDS_KATAKANA_13, "ジュウサン"
    IDS_KATAKANA_14, "ジュウヨン"
    IDS_KATAKANA_15, "ジュウゴ"
    IDS_KATAKANA_16, "ジュウロク"
    IDS_KATAKANA_17, "ジュウナナ"
    IDS_KATAKANA_18, "ジュウハチ"
    IDS_KATAKANA_19, "ジュウキュウ"
    IDS_KATAKANA_20, "ニジュウ"
    IDS_KATAKANA_30, "サンジュウ"
    IDS_KATAKANA_40, "ヨンジュウ"
    IDS_KATAKANA_50, "ゴジュウ"
    IDS_KATAKANA_60, "ロクジュウ"
    IDS_KATAKANA_70, "ナナジュウ"
    IDS_KATAKANA_80, "ハチジュウ"
    IDS_KATAKANA_90, "キュウジュウ"
    IDS_KATAKANA_100, "ヒャク"
    IDS_KATAKANA_200, "ニヒャク"
    IDS_KATAKANA_300, "サンビャク"
    IDS_KATAKANA_400, "ヨンヒャク"
    IDS_KATAKANA_500, "ゴヒャク"
    IDS_KATAKANA_600, "ロッピャク"
    IDS_KATAKANA_700, "ナナヒャク"
    IDS_KATAKANA_800, "ハッピャク"
    IDS_KATAKANA_900, "キュウヒャク"
    IDS_KATAKANA_SEN, "イッセン"
    IDS_KATAKANA_SEN_1, "セン"
    IDS_KATAKANA_SEN_2, "ニセン"
    IDS_KATAKANA_SEN_3, "サンゼン"
    IDS_KATAKANA_SEN_4, "ヨンセン"
    IDS_KATAKANA_SEN_5, "ゴセン"
    IDS_KATAKANA_SEN_6, "ロクセン"
    IDS_KATAKANA_SEN_7, "ナナセン"
    IDS_KATAKANA_SEN_8, "ハッセン"
    IDS_KATAKANA_SEN_9, "キュウセン"
    IDS_KATAKANA_MAN, "マン"
    IDS_KATAKANA_MAN_1, "イチマン"
    IDS_KATAKANA_MAN_2, "ニマン"
    IDS_KATAKANA_MAN_3, "サンマン"
    IDS_KATAKANA_MAN_4, "ヨンマン"
    IDS_KATAKANA_MAN_5, "ゴマン"
    IDS_KATAKANA_MAN_6, "ロクマン"
    IDS_KATAKANA_MAN_7, "ナナマン"
    IDS_KATAKANA_MAN_8, "ハチマン"
    IDS_KATAKANA_MAN_9, "キュウマン"
    IDS_KATAKANA_OKU, "オク"
    IDS_KATAKANA_OKU_1, "イチオク"
    IDS_KATAKANA_OKU_2, "ニオク"
    IDS_KATAKANA_OKU_3, "サンオク"
    IDS_KATAKANA_OKU_4, "ヨンオク"
    IDS_KATAKANA_OKU_5, "ゴオク"
    IDS_KATAKANA_OKU_6, "ロクオク"
    IDS_KATAKANA_OKU_7, "ナナオク"
    IDS_KATAKANA_OKU_8, "ハチオク"
    IDS_KATAKANA_OKU_9, "キュウオク"
    IDS_KATAKANA_CHOU, "チョウ"
    IDS_KATAKANA_CHOU_1, "イッチョウ"
    IDS_KATAKANA_CHOU_2, "ニチョウ"
    IDS_KATAKANA_CHOU_3, "サンチョウ"
    IDS_KATAKANA_CHOU_4, "ヨンチョウ"
    IDS_KATAKANA_CHOU_5, "ゴチョウ"
    IDS_KATAKANA_CHOU_6, "ロクチョウ"
    IDS_KATAKANA_CHOU_7, "ナナチョウ"
    IDS_KATAKANA_CHOU_8, "ハッチョウ"
    IDS_KATAKANA_CHOU_9, "キュウチョウ"
    IDS_KATAKANA_KEI, "ケイ"
    IDS_KATAKANA_KEI_1, "イッケイ"
    IDS_KATAKANA_KEI_2, "ニケイ"
    IDS_KATAKANA_KEI_3, "サンケイ"
    IDS_KATAKANA_KEI_4, "ヨンケイ"
    IDS_KATAKANA_KEI_5, "ゴケイ"
    IDS_KATAKANA_KEI_6, "ロッケイ"
    IDS_KATAKANA_KEI_7, "ナナケイ"
    IDS_KATAKANA_KEI_8, "ハチケイ"
    IDS_KATAKANA_KEI_9, "キュウケイ"
    IDS_KATAKANA_MINUS, "マイナス"

    IDS_KANJI_0, "零"
    IDS_KANJI_1, "一"
    IDS_KANJI_2, "二"
    IDS_KANJI_3, "三"
    IDS_KANJI_4, "四"
    IDS_KANJI_5, "五"
    IDS_KANJI_6, "六"
    IDS_KANJI_7, "七"
    IDS_KANJI_8, "八"
    IDS_KANJI_9, "九"
    IDS_KANJI_10, "十"
    IDS_KANJI_11, "十一"
    IDS_KANJI_12, "十二"
    IDS_KANJI_13, "十三"
    IDS_KANJI_14, "十四"
    IDS_KANJI_15, "十五"
    IDS_KANJI_16, "十六"
    IDS_KANJI_17, "十七"
    IDS_KANJI_18, "十八"
    IDS_KANJI_19, "十九"
    IDS_KANJI_20, "二十"
    IDS_KANJI_30, "三十"
    IDS_KANJI_40, "四十"
    IDS_KANJI_50, "五十"
    IDS_KANJI_60, "六十"
    IDS_KANJI_70, "七十"
    IDS_KANJI_80, "八十"
    IDS_KANJI_90, "九十"
    IDS_KANJI_100, "百"
    IDS_KANJI_200, "二百"
    IDS_KANJI_300, "三百"
    IDS_KANJI_400, "四百"
    IDS_KANJI_500, "五百"
    IDS_KANJI_600, "六百"
    IDS_KANJI_700, "七百"
    IDS_KANJI_800, "八百"
    IDS_KANJI_900, "九百"
    IDS_KANJI_SEN, "一千"
    IDS_KANJI_SEN_1, "千"
    IDS_KANJI_SEN_2, "二千"
    IDS_KANJI_SEN_3, "三千"
    IDS_KANJI_SEN_4, "四千"
    IDS_KANJI_SEN_5, "五千"
    IDS_KANJI_SEN_6, "六千"
    IDS_KANJI_SEN_7, "七千"
    IDS_KANJI_SEN_8, "八千"
    IDS_KANJI_SEN_9, "九千"
    IDS_KANJI_MAN, "万"
    IDS_KANJI_MAN_1, "一万"
    IDS_KANJI_MAN_2, "二万"
    IDS_KANJI_MAN_3, "三万"
    IDS_KANJI_MAN_4, "四万"
    IDS_KANJI_MAN_5, "五万"
    IDS_KANJI_MAN_6, "六万"
    IDS_KANJI_MAN_7, "七万"
    IDS_KANJI_MAN_8, "八万"
    IDS_KANJI_MAN_9, "九万"
    IDS_KANJI_OKU, "億"
    IDS_KANJI_OKU_1, "一億"
    IDS_KANJI_OKU_2, "二億"
    IDS_KANJI_OKU_3, "三億"
    IDS_KANJI_OKU_4, "四億"
    IDS_KANJI_OKU_5, "五億"
    IDS_KANJI_OKU_6, "六億"
    IDS_KANJI_OKU_7, "七億"
    IDS_KANJI_OKU_8, "八億"
    IDS_KANJI_OKU_9, "九億"
    IDS_KANJI_CHOU, "兆"
    IDS_KANJI_CHOU_1, "一兆"
    IDS_KANJI_CHOU_2, "二兆"
    IDS_KANJI_CHOU_3, "三兆"
    IDS_KANJI_CHOU_4, "四兆"
    IDS_KANJI_CHOU_5, "五兆"
    IDS_KANJI_CHOU_6, "六兆"
    IDS_KANJI_CHOU_7, "七兆"
    IDS_KANJI_CHOU_8, "八兆"
    IDS_KANJI_CHOU_9, "九兆"
    IDS_KANJI_KEI, "京"
    IDS_KANJI_KEI_1, "一京"
    IDS_KANJI_KEI_2, "二京"
    IDS_KANJI_KEI_3, "三京"
    IDS_KANJI_KEI_4, "四京"
    IDS_KANJI_KEI_5, "五京"
    IDS_KANJI_KEI_6, "六京"
    IDS_KANJI_KEI_7, "七京"
    IDS_KANJI_KEI_8, "八京"
    IDS_KANJI_KEI_9, "九京"
}
